.contentarea {
	position: static;
	top: 30px;
	padding-bottom:95px;
	font-family: 'Helvetica Neue', sans-serif;
  
	color:#777;
}
.header {
    width: 100%;
    height: 82px;
    margin: 0 auto;
    position: fixed;
    z-index: 999;
    padding: 11px 0 16px 0;
    left: 0;
    top: 0;
    float: left;
    -ms-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: $brand-primary;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 2px 20px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 2px 20px rgba(0,0,0,0.50);



    @media screen and (max-width: 990px) {
        .username, .dividerTop {
            display: none !important;
        }
    }


    .small {
        background: $brand-primary;
        box-shadow: 0px 2px 20px rgba(0,0,0,0.50);
        -webkit-box-shadow: 0px 2px 20px rgba(0,0,0,0.50);
        -moz-box-shadow: 0px 2px 20px rgba(0,0,0,0.50);
        padding: 15px 0;
        height: 80px;
    }

    .left {
        float: left;
        padding-left: 0px;
        padding-bottom: 8px;
    }

    .right {
        float: right;
        padding-right: 15px;
        text-align: right;
        color: $white-color;
    }

    .mid {
        float: left;
    }

    ul.navigation {
        list-style-type: none;
        text-align: center;
        margin-right: 30px;
        margin-top: 15px;
        padding: 0px;

        li {
            list-style: none;
            display: inline-block;
            color: $white-color;
        }

        li a {
            color: $white-color;
            text-decoration: none;
            padding: 6px 10px;
              
        }

        li a:hover {
            color: $blue-lighter-color;
        }

        ul.dropdown-menu li {
            color: $brand-primary;
            display: block;
        }

        ul.dropdown-menu li a {
            color: $blue-light-color;
            font-size: $font-size-base;
            
        }

        .dropdown-menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .nav {

        > li > a {
            color: $white-color;
        }

        > li > a:hover, > li > a:focus {
            text-decoration: none;
            background: none;
            color: $blue-lighter-color;
        }

        .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
            color: $white-color;
            text-decoration: none;
            background: none;
            outline: 0;
        }

        ul.dropdown-menu li a {
            color: $blue-light-color;
            font-size: $font-size-base;
            padding: 6px 10px;
             background-color: $white-color;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            color: $blue-light-color !important;
            text-decoration: none;
            background: $gray-lighter;
        }

        .open > a, .open > a:hover, .open > a:focus {
            background: none;
            border-color: transparent;
        }

        .profileMenu li:first-child {
            border-bottom: 1px solid $gray-lighter;
        }
    }
}
