<div class="row">
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="widget">
            <h2>
                <a href="#">
                    My Products
                </a>
            </h2>
            <ul class="myproducts">
                <li>View by: <a href="#">Recently Accessed</a></li>
                <li><a href="#">Circulars</a></li>
                <li>
                    <a href="#">
                        Emerging Issues
                    </a>
                </li>
                <li>
                    <a href="#">
                        Forms Library
                    </a>
                </li>
                <li><a href="#">ISO Data Cube</a></li>

                <li><a href="#">State Filing Forms</a></li>
                <li><a href="#">Commercial Line Manuals</a></li>
                <li><a href="#">Legislative Monitoring</a></li>

                <li><a href="#"> Premium Audit</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="widget">
            <h2><a href="emerging-issues-home_new.html">Emerging Issues</a></h2>
            <p><img class="pull-left imgOpacity" src="../images/images.png" alt="">White Paper:<br>Exploring Drones- How Unmanned Aircraft Could Change the Way we Live, Work, and Think about Risk</p>
            <ul>
                <li>Most Viewed Topics</li>
                <li><a href="EIDronesTopicPage.html">Unmanned Aircraft-Drones</a></li>
                <li><a href="#">Ride Sharing</a></li>
                <li><a href="#">Autonomous Vehicles</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="widget">
            <h2>
                <a href="#">
                    What’s New
                </a>
            </h2>
            <p><img class="pull-left imgOpacity" src="../images/images.png" alt="" />Some text regarding latest news...</p>
            <ul>
                <li><a href="#">ISOnet Circular Alert</a></li>
                <li><a href="#">ISO Announces New Optional Commercial Automobile Class Plan</a></li>
                <li><a href="#">ISO Furnishes Commercial Automobile Advisory Rating Example</a></li>



            </ul>
            <div class="applink view readMore"><a class="link" href="latestNews.html">Read More..</a></div>

        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="widget">
            <h2>
                <a href="#">
                    Live Chat

                </a>
            </h2>
            <p><img class="pull-left imgOpacity" src="../images/images.png" alt="" />Need a quick answer to a question or customer support issue? Live Chat lets you ask one of our representatives without picking up the phone.</p>

            <p>(Note: Password resets and user information are not available through Live Chat. Please call our main toll-free number, 1-800-888-4476.)</p>
            <label class="pull-right"><a href="#">Contact Us</a></label>
        </div>
    </div>

</div>