<div class="banner" ng-controller="bannerController">
    <div ng-class="getPanelCalss()" class="heroPanel">
        <div class="searchpane" id="searchBanner">
            <div class="input-group">
                <input id='ig' type="text" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>

    </div>
</div>